.red{color:#BF2323;}
#titre{font-weight:bold;font-size:55px ;}
.background{background-color: #B2CABE;  height: 200vh; min-height : 200vh;  text-align: center;}
.font{font-size:22px;}
body{margin-top: 0px !important;}
